on:
  push:
    branches:
      - main
  schedule:
    - cron: "0 0 1,15 * *" # midnight on the 1st and 15th
  workflow_dispatch:
concurrency:
  group: ${{ github.workflow }}
jobs:
  build:
    name: Build and push
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    env:
      REGISTRY: ghcr.io/${{ github.repository_owner }}
      NAME: ghcr.io/${{ github.repository_owner }}/${{ matrix.target }}
    steps:
    - name: Log in to ghcr.io
      uses: redhat-actions/podman-login@v1
      with:
        username: ${{ github.actor }}
        password: ${{ github.token }}
        registry: ${{ env.REGISTRY }}
    - uses: actions/checkout@v4
    - name: make ci
      run: make ci REGISTRY=${{ env.REGISTRY }} EXTRA_BUILD_ARGS='--label=org.opencontainers.image.source=${{ github.server_url }}/${{ github.repository }} --build-arg=CTAN_MIRROR=http://mirror.ctan.org'
